<%- include('header.ejs') -%>

<div class="login-container">
    <h2>Signup</h2>
    <div style="height: 50px;">
        <p id="respofecth" style="color: red;"></p>  
    </div>
    <form class="login-form" id="form">
        <div class="form-group">
            <!-- <label for="Mobile">Mobile:</label> -->
            <input placeholder="mobile" type="text" id="Mobile" name="mobile">
        </div>
        <div class="form-group">
            <!-- <label for="name">Name:</label> -->
            <input placeholder="name" type="text" id="name" name="name">
        </div>
        <div class="form-group">
            <!-- <label for="email">Email:</label> -->
            <input placeholder="email" type="email" id="email" name="email">
        </div>
        <div class="form-group">
            <!-- <label for="password">Password:</label> -->
            <input placeholder="password" type="password" id="password" name="password">
        </div>
        <button type="submit" class="login-button">Sign Up</button>
    </form>
    <br>
    <!-- Login Section -->
    <div class="login-section">
        <p>Already have an account? <a href="/" class="login-link">Login here</a></p>
    </div>
</div>

<script>
	const form = document.getElementById('form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        const email = document.getElementById('email').value.trim();
        const password = document.getElementById('password').value.trim();
        const mobile = document.getElementById('Mobile').value.trim();
        const name = document.getElementById('name').value.trim();
        fetch(`/signup-check?password=${password}&&email=${email}&&mobile=${mobile}&&name=${name}`)
        .then(res => res.json())
        .then(res => {
            console.log(res)
            if(res.success) {
                window.location.href = '/';
            } else {
                document.getElementById('respofecth').innerText = res.message
                function hideParagraph() {
                    document.getElementById('respofecth').innerHTML = ''
                }
                setTimeout(hideParagraph, 3000)
            }
        })        
    })
</script>

<%- include('footer.ejs') -%>
